- @page_title = t('shoppe.products.products')

= javascript_include_tag 'vin_lookup.js'

= content_for :header do
  %p.buttons= link_to t('shoppe.products.back_to_products') , :products, :class => 'button'
  %h2.products= t('shoppe.products.products')

%div.vin_lookup{:'ng-app' => 'VinLookup'}
  %h1 VIN Lookup
  %input{:name => "vin"}
  %button{:'ng-click' => "MainCtrl.getCarByVin(this.value)"} Decode

%br

= render 'form'
