- @page_title = t('shoppe.products.products')

= javascript_include_tag 'vin_lookup.js'
%script{:src => "https://code.jquery.com/jquery-1.8.0.min.js"}

= content_for :header do
  %p.buttons= link_to t('shoppe.products.back_to_products') , :products, :class => 'button'
  %h2.products= t('shoppe.products.products')

%div.vin_lookup{:'ng-app' => 'vinLookup', :'ng-controller' => 'MainCtrl'}
  %ng-view
  %h1 VIN Lookup
  %input.text{:name => "vin", :'ng-model' => 'vin'}
  %br
  %br
  %button.green.button.button-mini{:'ng-click' => "lookupVin(this.value)"} Decode

%br

%div#trim-select
  %span hello world


= render 'form'
